.Python

# folders from virtualenv
lib/
bin/
include/

# compiled python binaries
*.pyc

# setuptools distribution folder
/dist/

# python egg metadata
*.egg-info

v
.coverage
README.txt
pytest_runner-2.9-py3.5.egg
pip-selfcheck.json
